@model IEnumerable<反窃电.Models.Register>

@{
    ViewBag.Title = "Index";
}

<h2>用户列表</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.序号)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.户号)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.用户名称)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.序号)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.户号)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.用户名称)
        </td>
    </tr>
}
    
</table>
