@model IEnumerable<反窃电.Models.ElectricData>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table border="1">
    <tr>
        <th width="30px">
            @Html.DisplayNameFor(model => model.A相电压)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.A相电流)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.B相电压)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.B相电流)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.C相电压)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.C相电流)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.倍率)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.变压器容量)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.用电量)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.最大电流M)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.最小电流m)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.时间)
        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.A相电压)
            </td>
            <td>
                @Html.DisplayFor(model => item.A相电流)
            </td>
            <td>
                @Html.DisplayFor(model => item.B相电压)
            </td>
            <td>
                @Html.DisplayFor(model => item.B相电流)
            </td>
            <td>
                @Html.DisplayFor(model => item.C相电压)
            </td>
            <td>
                @Html.DisplayFor(model => item.C相电流)
            </td>
            <td>
                @Html.DisplayFor(model => item.倍率)
            </td>
            <td>
                @Html.DisplayFor(model => item.变压器容量)
            </td>
            <td>
                @Html.DisplayFor(model => item.用电量)
            </td>
            <td>
                @Html.DisplayFor(model => item.最大电流M)
            </td>
            <td>
                @Html.DisplayFor(model => item.最小电流m)
            </td>
            <td>
                @Html.DisplayFor(model => item.时间)
            </td>
        </tr>
    }
</table>
